.knowMe {

    &__button {
        margin-left: 3em;
    }

    &__container {
        width: 100%;
    }

    &__onlinePresence > *{
        margin: 0.5em 4em 0.5em 0;
    }

    &__section {
        margin: 5em 0;
    }

    &__title {
        text-align: center;
    }
}