/*switch palette*/
$base: #00cbf6;
$brown: #7d2f00;

$darkBlue: #003a5e;
$lightBlue: #e6f4f1;

$black: #000;
$white: #ffffff;
$grey-white: #eee;

$transparentBlack: rgba(0, 0, 0, 0.6);

$red: #c4515b;
$green: #00c9aa;
$greenSuccess: #638c44;

/*
// Other palettes
// $darkBlue: #0095BE;
// $lightBlue: #c2f9ff;

// $lightBrown: #ffeace;
// $greyBrown: #907159;
*/

